
.genfill-aside{
  display: none;
}

.aside .genfill-prompt {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 461px;
  left:83px;
  width: 417px;
  height: 64px;
  background-color: #545454;
  border-radius: 8px;
}

.aside .genfill-search {
  width:228px;
  height: 52px;
  margin: 6px;
  background-color: #262626;
  color:#D1D1D1;
  font-size: 21px;
  line-height: 46px; /* change */
  padding: 0 16px;
}

.aside .genfill-btn {
  width: 189px;
  background-color: #262626;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  border-radius: 8px;
}
