.genfill .desktop-media, 
.genfill .tablet-media, 
.genfill .mobile-media {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  display: none;
}

.genfill .image, .genfill p {
  margin: 0;
}

.genfill .enticement-detail{
  display: none;
}

.genfill .timer {
  display: none;
}

.genfill .enticement {
  position: absolute;
  top: 40px;
  right: 550px;
}

.genfill .arrowtext {
  margin: 0;
}

.genfill.light .arrowtext {
  color: black;
}

.genfill.dark .arrowtext {
  color: white;
}

.genfill .arrow {
  margin: 0;
  position: relative;
  bottom: 18px;
  right: 50px;
  transform: rotate(10deg);
}

.genfill .show {
  display: block;
}

.genfill .media picture {
  display: none;
}

@media screen and (max-width: 600px) {
  .genfill .mobile-media picture {
    display: none;
  }

  .genfill .media.mobile-media, 
  .genfill .mobile-media picture:first-child {
    display: block;
  }

  .genfill .enticement {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  /* .genfill .tablet-media {
    display: block;
  } */

  .genfill .tablet-media picture {
    display: none;
  }

  .genfill .tablet-media, 
  .genfill .tablet-media picture:first-child {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  /* .genfill .desktop-media {
    display: block;
  } */
  .genfill .desktop-media picture {
    display: none;
  }

  .genfill .desktop-media, 
  .genfill .desktop-media picture:first-child {
    display: block;
  }
}
